$box-sm: 100px;
$box-md: 195px;

.control {
  flex-shrink: 0;
}

.controlSm {
  width: $box-sm;
}

.controlMd {
  width: $box-md;
}

// wrapper classes
.wrapper {
  background-color: var(--joy-palette-background-surface);
  border: 1px solid var(--joy-palette-neutral-outlinedBorder);
  border-radius: var(--joy-radius-sm);
  color: var(--joy-palette-neutral-outlinedColor);
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.wrapperSm {
  width: $box-sm;
  height: $box-sm;
}

.wrapperMd {
  width: $box-md;
  height: $box-md;
}

.wrapperInvalid {
  color: var(--joy-palette-danger-500);
  border-color: var(--joy-palette-danger-outlinedBorder);
}

// inputLabel
.inputLabel {
  width: 100%;
  height: 100%;
  font-size: 28px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

// preview mode classes (image & deleteButton)
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.deleteButton {
  position: absolute;
  top: 6px;
  right: 6px;
}
