.sheet {
  padding: 16px;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #e6ebf0;
}

.header {
  padding: 8px 10px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
}

.answerRow {
  display: flex;
  gap: 8px;
  align-items: flex-start;
}

.answerInputWrapper {
  flex: 1;
  display: flex;
  gap: 8px;
  min-width: 0; // to allow the answer input wrapper to shrink (in mobile screens)

  @media ($max-screen-sm) {
    flex-direction: column-reverse;
    padding-bottom: 12px;
  }
}

.answerInput {
  flex-grow: 1;
  min-width: 0; // to allow the answer input to shrink (in mobile screens)
}

.correctSelector {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin-top: 2px;
}

.dragHandle {
  margin-top: 0; // override the 2px margin-top of the correctSelector
}
