.sheet {
  padding: 16px;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #e6ebf0;
}

.header {
  padding: 8px 10px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
}

.answerInput {
  flex: 1;
  min-width: 0; // to allow the answer input to shrink (in mobile screens)
}

.correctSelector {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  min-height: 32px;
  margin-top: 2px;
}