JWT_SECRET="$JWT_SECRET"

DB_USER=root
DB_PASSWORD=quiziset
DB_HOST=db
DB_PORT=3306
DB_NAME=quiziset

FRONTEND_URL='http://localhost:3003'

# SMTP settings (in development it points to the "mailcatcher" container see docker-compose.yml)
# in production (if deployed but overall this is just a university assignment)
# but if deployed to production change these to a real SMTP provider
SMTP_HOST=mailcatcher
SMTP_PORT=1025
MAIL_FROM='Quiziset <no-reply@quiziset.local>'
SMTP_USER='' # mailcatcher doesn't require auth
SMTP_PASSWORD='' # mailcatcher doesn't require auth
SMTP_SECURE=false # mailcatcher doesn't use TLS (since it is just a development tool)

# a link to the mailcatcher web UI (that is shown after a reset password request) so the email can be opened easily
# but of course (if this app was to be deployed in production) then this env variable should be empty
MAIL_PREVIEW_URL='http://localhost:1080'
