.headerSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
}

.searchRow {
  display: flex;
  gap: 16px;
  align-items: center;

  @media ($max-screen-sm) {
    flex-direction: column;
    align-items: stretch;
  }
}

.searchInput {
  flex-grow: 1;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quizList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.quizItem {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
  border-radius: 6px;
  display: flex;
  align-items: flex-start;

  @media ($max-screen-sm) {
    flex-direction: column;
  }
}

.meta {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px 12px;
  margin-bottom: 2px;
}

.ratingIcon {
  color: #f5a623;
}

.primaryActions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 6px;

  .favoriteAction {
    margin-left: auto;
  }

  .primaryActionsSub {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  &,
  .primaryActionsSub {
    gap: 12px 16px;
  }
}

.secondaryActions {
  position: absolute;
  display: flex;
  top: 10px;

  @media ($min-screen-sm) {
    right: 12px;
    gap: 16px;

    .previewAction {
      border-color: transparent;
    }

    .shareAction {
      border-color: transparent;
    }
  }

  @media ($max-screen-sm) {
    top: 24px;
    left: 24px;
    width: calc(100% - 48px);
    justify-content: space-between;

    .previewAction {
      background-color: #fff;
      border-radius: 6px;
    }

    .shareActionWrapper {
      background-color: #fff;
      border-radius: 6px;
    }
  }
}

.details {
  display: flex;
  flex-grow: 1;
  min-width: 0;
  flex-direction: column;
  gap: 4px;

  @media ($max-screen-sm) {
    width: 100%;
  }
}

.image {
  width: 122px;
  height: 122px;
  object-fit: cover;
  border-radius: 6px;
  flex-shrink: 0;

  @media ($max-screen-sm) {
    width: 100%;
    height: 150px;
  }
}

.quizDescription {
  // source https://stackoverflow.com/a/1101702/8148505
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}
