.overviewSection {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 16px;

  @media ($max-screen-sm) {
    grid-template-columns: 1fr;
  }
}

.footerActions {
  display: flex;
  align-items: self-start;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 48px;
}