.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  min-height: 36px;
}

.switches {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;

  @media ($max-screen-md) {
    gap: 12px;
  }
}

.overviewSection {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 16px;

  @media ($max-screen-sm) {
    grid-template-columns: 1fr;
  }
}

.footerActions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 48px;
  margin-top: 48px;
  align-items: center;
}

.deleteButton {
  margin-left: auto;
}