.overviewSection {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 16px;

  @media ($max-screen-sm) {
    grid-template-columns: 1fr;
  }
}

.footerActions {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}