.pagination {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.button {
    @media ($min-screen-md) {
        min-width: 32px;
        min-height: 32px;
        font-size: 14px;
    }
}