.hero {
  padding: 16px 0 32px;
  color: #fff;
  position: relative;
}

.title {
  margin-bottom: 16px;
}

.subtitle {
  margin-bottom: 24px;
}

.searchRow {
  display: flex;
  gap: 16px;
  max-width: 800px;
  margin: 0 auto;


  @media ($max-screen-md) {
    max-width: initial;
  }

  @media ($max-screen-sm) {
    flex-direction: column;
  }
}

.searchInput {
  flex-grow: 1;
}

.sortSelect {
  min-width: 180px;
}

.totalMatches {
  margin-bottom: 12px;
}
