$navbarHeight: 60px;
$navbarTop: 16px;
$bottomSpace: 32px;

.primarySpacer {
  height: $navbarHeight;
}

.secondarySpacer {
  height: $bottomSpace;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: none;
  left: 0;
  padding: 12px 0;
  border-radius: 16px;
  border-radius: 0;
  height: $navbarHeight;
  border: none;
  background-color: #fff;
  z-index: 1024;
}

.navbarInner {
  display: flex;
  justify-content: space-between;
}

.mainNav {
  display: flex;
  flex-grow: 1;
}

.appName {
  line-height: 1.4;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  color: $color-primary-500;
  margin-right: 16px;
}

.desktopNav {
  display: flex;
  flex-grow: 1;
  justify-content: start;
}

.desktopNav,
.desktopAuth {
  @media ($max-screen-md) {
    display: none;
  }
}

.desktopAuth {
  align-items: center;
}

.authLoggedOut {
  display: flex;
  align-items: center;
  gap: 12px;
}

.authLoggedIn {
  display: none;
  align-items: center;
}

:global(html[data-auth-logged-in='true']) {
  .authLoggedOut {
    display: none;
  }

  .authLoggedIn {
    display: flex;
  }
}

.mobileMenuButton {
  display: none;

  @media ($max-screen-md) {
    display: inline-flex;
  }
}