$navbarHeight: 60px;
$navbarTop: 16px;
$bottomSpace: 48px;

.spacer {
  height: $navbarHeight + $bottomSpace;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: none;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 0;
  border-radius: 16px;
  border-radius: 0;
  height: $navbarHeight;
  border: none;
  background-color: #fff;
  z-index: 1024;
}

.navbarInner {
  display: flex;
  justify-content: space-between;
}

.mainNav {
  display: flex;
  flex-grow: 1;
}

.appName {
  line-height: 1.4;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  color: $color-primary-500;
}

.desktopNav {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.desktopNav,
.desktopAuth {
  @media ($max-screen-md) {
    display: none;
  }
}

.mobileMenuButton {
  display: none;

  @media ($max-screen-md) {
    display: inline-flex;
  }
}