.tableWrapper {
  border-radius: 8px;
  overflow-x: auto;

  @media ($max-screen-md) {
    display: none;
  }
}

.table {
  --TableCell-paddingY: 10px;

  th {
    white-space: nowrap;
  }

  th,
  td {
    vertical-align: middle;
  }
}

.userColumn {
  --TableCell-paddingX: 16px;
  width: 170px;
}

.scoreColumn {
  width: 120px;
}

.durationColumn {
  width: 120px;
}

.dateColumn {
  width: 170px;
}

.statusColumn {
  width: 120px;
}
