// Please also update "theme.ts" with the same values
$color-primary-50: #e7e9ed;
$color-primary-100: #c1c8d5;
$color-primary-200: #9aa5b8;
$color-primary-300: #74829a;
$color-primary-400: #586887;
$color-primary-500: #3b5076;
$color-primary-600: #35486e;
$color-primary-700: #2d3f63;
$color-primary-800: #273656;
$color-primary-900: #1e263d;

$color-natural-400: #9fa6ad;
$color-natural-500: #636b74;

$color-danger-500: #c41c1c;

// media breakpoints
$screen-sm: 600px;
$screen-md: 900px;

$min-screen-sm: "(min-width: #{$screen-sm})";
$max-screen-sm: "(max-width: #{$screen-sm - 1px})";
$min-screen-md: "(min-width: #{$screen-md})";
$max-screen-md: "(max-width: #{$screen-md - 1px})";
