.quizCard {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 6px;
  padding: 0;
  padding: 12px;
  border-radius: 6px;
  text-decoration: none;
}

.image {
  width: 100%;
  aspect-ratio: 2/1;
  object-fit: cover;
  border-radius: 6px;
  max-height: 150px;
}

.details {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: 0;
}

.footer {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: space-between;
}